.sider-menu{
    wdith: 256px;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    & *::-webkit-scrollbar{
        width: 0;
    }
    .logo{
        border-right: 0;
        background-color: #002140;
        width: '256px';
        height: '64px';
        font-size: 30px;
        font-weight: 700;
        padding: 15px 15px;
        text-transform: uppercase;
        line-height: 30px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        b{
            margin-right: 5px;
            color: #2DAFCB;
        }
    }
}
